@use '../abstracts/functions' as fn;

.header {
  &__brand {
    padding-bottom: 30px;
    border-bottom: 3px solid fn.color(primary);
    margin-bottom: 70px;
    @include fn.flex-between();
  }
  &__navigation {
    &.fixed {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background: fn.color(surface);
      z-index: 99;
      padding-top: 30px;
    }
  }

  &__title {
    @include fn.typography(h1);
  }
  &__description {
    @include fn.typography(body);

    span {
      color: fn.color(primary);
    }
  }
  &__menu {
    &-list {
      @include fn.flex-center($gap: 0 80px);
    }
    &-item {
      flex: 1;
      @include fn.typography(body);
    }
    &-link {
      font-weight: 700;
      display: block;
      padding-bottom: 15px;
      border-bottom: 3px solid fn.color(gray);

      &--active {
        color: fn.color(point);
        border-bottom-color: fn.color(point);
      }
    }
  }

  &__documents {
    &-list {
      display: flex;
      gap: 0 100px;
    }
    &-link {
      @include fn.typography(body, fn.color(primary));

      i {
        vertical-align: text-top;
        font-size: 16px;
        line-height: 1.5;
      }
    }
  }
}
.footer {
  padding-top: 30px;
  border-top: 3px solid fn.color(primary);

  &__container {
    @include fn.flex-between($align: flex-end);
  }

  &__title {
    margin-bottom: 10px;
    @include fn.typography(body-large, fn.color(primary), $weight: 600);
  }
  &__contact {
    &-item {
      margin-bottom: 10px;

      @include fn.typography(caption, fn.color(siverGray), $size: 16px);

      &:last-child {
        margin-bottom: 0;
      }
    }
    &-link {
      transition: color 0.2s ease;
      &:hover {
        color: fn.color(primary);
      }
    }
  }

  &__copyright {
    text-align: right;
    @include fn.typography(caption, fn.color(primary));
  }
}
