@use '../abstracts/functions' as fn;

.header {
  &__brand {
    padding-bottom: 30px;
    border-bottom: 3px solid fn.color(primary);
    margin-bottom: 70px;
    @include fn.flex-between();
  }
  &__title {
    @include fn.typography(h1);
  }
  &__description {
    @include fn.typography(body);

    span {
      color: fn.color(primary);
    }
  }
  &__nav {
    &-list {
      @include fn.flex-center($gap: 0 80px);
    }
    &-item {
      flex: 1;
      @include fn.typography(body);
    }
    &-link {
      font-weight: 700;
      display: block;
      padding-bottom: 15px;
      border-bottom: 3px solid fn.color(gray);

      &--active {
        color: fn.color(point);
        border-bottom-color: fn.color(point);
      }
    }
  }
}
.footer {
  padding-top: 30px;
  border-top: 3px solid fn.color(primary);
  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  &__navigation {
    display: contents;
    @include fn.responsive-width(100%, $max: calc(100% - 106px));
  }
  &__nav {
    &-list {
      display: contents;
    }
    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-link {
      @include fn.typography(body, fn.color(primary));

      i {
        vertical-align: text-top;
        font-size: 16px;
        line-height: 1.5;
      }
    }
  }
  &__copyright {
    text-align: right;
    @include fn.typography(body, fn.color(primary));
    @include fn.flex-center;
  }
}
