@use './variables' as var;
// ------------------------------ 사용: fn.color(primary)
@function color($name) {
  @return map-get(var.$color, $name);
}

// ------------------------------ 사용: @include typography(display);
@mixin typography($style, $color: null, $weight: null) {
  $props: map-get(var.$typography, $style);

  font-family: 'Pretendard', sans-serif;
  font-size: map-get($props, font-size);
  font-weight: if($weight, $weight, map-get($props, font-weight));
  line-height: map-get($props, line-height);

  $map-color: map-get($props, color);
  @if $color {
    color: $color;
  } @else if $map-color {
    color: $map-color;
  }
}

// ------------------------------
@mixin flex-center($gap: 0) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $gap;
}
@mixin flex-between($align: center, $gap: 0) {
  display: flex;
  align-items: $align;
  justify-content: space-between;
  gap: $gap;
}
@mixin flex-column($align: stretch, $justify: flex-start, $gap: 0) {
  display: flex;
  flex-direction: column;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}

// ------------------------------
@mixin responsive-width($width, $max: null, $min: null) {
  width: $width;

  @if $max {
    max-width: $max;
  }
  @if $min {
    min-width: $min;
  }
}
@mixin responsive-height($height, $max: null, $min: null) {
  height: $height;

  @if $max {
    max-height: $max;
  }
  @if $min {
    min-height: $min;
  }
}
