@use "../abstracts/functions" as fn;

.experience {
  &__item {
    flex: 1;
    &-header {
      text-align: center;
      margin-bottom: 40px;
    }
  }

  &__timeline {
    display: flex;
  }
  &__company,
  &__position {
    @include fn.typography(h2);
  }
  &__period {
    @include fn.typography(body);
  }

  &__duties {
    text-align: center;
  }
  &__duty {
    @include fn.typography(body, $weight: 400);
  }
}
