@use '../abstracts/functions' as fn;

.project {
  &-selection {
    background: fn.color(lightSurface);
    @include fn.responsive-width(100%, $max: 279px);
    &__header {
      padding: 40px 50px;
      background: fn.color(point);
      text-align: center;
    }
    &__title {
      @include fn.typography(
        body-large,
        $color: fn.color(surface),
        $weight: 600
      );
    }
    &__list {
      padding: 0 20px;
    }
    &__item {
      border-bottom: 2px solid rgba(fn.color(point), 0.6);

      &:last-child {
        border-bottom: none;
      }
    }
    &__link {
      padding: 35px 0 35px 22px;
      display: block;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 45px;
        left: 0;
        width: 12px;
        height: 12px;
        background: rgba(fn.color(point), 0.4);
        border-radius: 50%;
      }
      &-active {
        &::before {
          background: fn.color(point);
        }
      }
    }
    &__label {
      margin-bottom: 3px;
      @include fn.typography(
        body,
        $color: rgba(fn.color(primary), 0.5),
        $weight: 500
      );
    }
    &__desc {
      @include fn.typography(
        caption,
        $color: rgba(fn.color(siverGray), 0.5),
        $weight: 400,
        $size: 16px
      );
    }
    &__link {
      &-active {
        .project-selection__label {
          color: fn.color(point);
          font-weight: 700;
        }
        .project-selection__desc {
          color: fn.color(primary);
          font-weight: 500;
        }
      }
    }
  }
}

.portfolio {
  &__container {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 39px rgba(fn.color(point), 0.15);
  }
  &__content {
    padding: 100px;
    overflow: auto;
    @include fn.responsive-width(100%, $max: calc(100% - 279px));
    @include fn.responsive-height(100%, $max: 700px);
  }

  &__detail {
    &-text {
      display: flex;
      gap: 0 40px;
      margin-bottom: 70px;
    }
    &-header {
      @include fn.responsive-width(100%, $max: calc(100% - 443px));
    }
    &-title {
      @include fn.typography(h1);
    }
    &-subtitle {
      margin: 5px 0 12px;
      @include fn.typography(body, $color: fn.color(siverGray));
    }
    &-link {
      @include fn.typography(body, $color: fn.color(point));

      &-text {
        border-bottom: 1px solid fn.color(point);
        margin-left: 5px;
      }
    }
    &-desc {
      margin-top: 35px;
      word-break: keep-all;
      @include fn.typography(
        body,
        $weight: 400,
        $color: fn.color(primary),
        $line-height: 1.5
      );
    }
    &-meta {
      background: fn.color(lightSurface);
      border: 1px solid fn.color(point);
      border-radius: 10px;
      padding: 35px 25px;
      @include fn.responsive-width(100%, $max: 403px);

      h3 {
        margin-bottom: 8px;
        @include fn.typography(body, $color: fn.color(primary), $weight: 600);
      }
    }
    &-contribution {
      margin-bottom: 25px;
    }
    &-contribution {
      &-role {
        @include fn.typography(caption, $color: fn.color(gray));
      }
    }

    &-section {
      &-title {
        padding-bottom: 15px;
        margin-bottom: 30px;
        border-bottom: 2px solid fn.color(point);
        @include fn.typography(body-large);
      }
    }
    &-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: flex-start;
      gap: 2em;
      margin-top: 70px;
    }

    // 이미지
    &-figure {
      margin-bottom: 70px;
      &-text {
        position: absolute;
        @include fn.position-center;
        @include fn.typography(
          body-large,
          $weight: 500,
          $color: fn.color(surface)
        );
      }
      &-image {
        width: 100%;
        filter: brightness(0.4);
        object-fit: cover;
        object-position: top;
        height: 100%;
      }
      .swiper {
        &-slide {
          height: 500px;
          overflow: hidden;
          position: relative;
        }
      }
    }
    // END 이미지

    // 구조 설계
    .architecture {
      &__table {
        width: 100%;
        border-spacing: 20px 10px;
        border-collapse: initial;

        th,
        td {
          border-radius: 5px;
        }
        td {
          border: 1px solid rgba(fn.color(point), 0.4);
          text-align: center;
          vertical-align: middle;
          @include fn.typography(caption);
        }
        &-header {
          background: rgba(fn.color(point), 0.4);
          @include fn.typography(body, $weight: 600, $color: fn.color(primary));

          th {
            padding: 10px 0;
          }
        }
        &-cell {
          padding: 20px 0;
        }
      }
      &__file {
        &-path {
          @include fn.typography(
            caption,
            $weight: 400,
            $color: fn.color(siverGray),
            $size: 16px
          );
        }
      }
    }
    // END 구조 설계

    // 문제점 개선&결과
    .timeline {
      &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5em;
      }
      &__item {
        text-align: center;
        padding: 50px 30px;
        border: 1px solid fn.color(point);
        border-radius: 5px;

        $bgColor: (
          'problem': fn.color(lightSurface),
          'solution': fn.color(lightSurface),
          'result': #e8eef3,
        );
        @each $type, $color in $bgColor {
          &--#{$type} {
            background: $color;
          }
        }
      }
      &__step {
        text-transform: uppercase;
        font-weight: 500;

        $colors: (
          'problem': #d32f2f,
          'solution': #2da0a0,
          'result': fn.color(point),
        );
        @each $type, $color in $colors {
          &--#{$type} {
            color: $color;
          }
        }
      }
      &__heading {
        margin: 10px 0 15px;
        @include fn.typography(body, $weight: 700, $color: fn.color(primary));
      }
      &__description {
        word-break: keep-all;

        &--item {
          margin-bottom: 10px;

          &:last-child {
            margin-bottom: 0;
          }
          @include fn.typography(
            caption,
            $weight: 400,
            $color: fn.color(primary),
            $line-height: 1.4
          );
        }
      }
    }
    // END 문제점 개선&결과

    // 주요 성과
    &-achievement {
      &-item {
        margin-bottom: 6px;
        @include fn.typography(caption, $weight: 400);

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    // END 주요 성과

    // 구현 기능 상세
    &-feature {
      &-group {
        margin-bottom: 40px;

        &:last-child {
          margin-bottom: 0;
        }
      }
      &-title {
        padding: 6px 35px;
        display: inline-block;
        background: rgba(fn.color(point), 0.4);
        border-radius: 27px;
        margin-bottom: 20px;
        @include fn.typography(body, $color: fn.color(primary), $weight: 700);
      }
      &-item {
        margin-bottom: 6px;
        @include fn.typography(caption, $weight: 400);

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    // END 구현 기능 상세
  }
}
