@charset "UTF-8";
/* 레이아웃 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: "Pretendard";
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 리셋 */
.component-layout {
  height: 100vh;
  padding: 70px 50px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0;
}

.basic-inner {
  width: 100%;
  max-width: 1800px;
  padding: 0 40px;
  margin: 0 auto;
}

/* 전역 */
.header__brand {
  padding-bottom: 30px;
  border-bottom: 3px solid #000;
  margin-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0;
}
.header__title {
  font-family: "Pretendard", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
}
.header__description {
  font-family: "Pretendard", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  color: #555555;
}
.header__description span {
  color: #000;
}
.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0 80px;
}
.header__nav-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: "Pretendard", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  color: #555555;
}
.header__nav-link {
  font-weight: 700;
  display: block;
  padding-bottom: 15px;
  border-bottom: 3px solid #000;
}
.header__nav-link--active {
  color: #2d5aa0;
  border-bottom-color: #2d5aa0;
}