@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: "Pretendard";
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 리셋 */
.component-layout {
  min-height: 100vh;
  padding: 70px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0;
}

.basic-inner {
  width: 100%;
  max-width: 1800px;
  padding: 0 40px;
  margin: 0 auto;
}
.basic-inner.center-component {
  padding: 130px 40px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.dash::before {
  content: "-";
  margin-right: 5px;
}

/* 전역 */
.header__brand {
  padding-bottom: 30px;
  border-bottom: 3px solid #000;
  margin-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0;
}
.header__title {
  font-family: "Pretendard", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
}
.header__description {
  font-family: "Pretendard", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.7;
  color: #555555;
}
.header__description span {
  color: #000;
}
.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0 80px;
}
.header__nav-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: "Pretendard", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.7;
  color: #555555;
}
.header__nav-link {
  font-weight: 700;
  display: block;
  padding-bottom: 15px;
  border-bottom: 3px solid #555555;
}
.header__nav-link--active {
  color: #2d5aa0;
  border-bottom-color: #2d5aa0;
}

.footer {
  padding-top: 30px;
  border-top: 3px solid #000;
}
.footer__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.footer__navigation {
  display: contents;
  width: 100%;
  max-width: calc(100% - 106px);
}
.footer__nav-list {
  display: contents;
}
.footer__nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__nav-link {
  font-family: "Pretendard", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.7;
  color: #000;
}
.footer__nav-link i {
  vertical-align: text-top;
  font-size: 16px;
  line-height: 1.5;
}
.footer__copyright {
  text-align: right;
  font-family: "Pretendard", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.7;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0;
}

/* 레이아웃 */
.about__page {
  width: 2293px;
}
.about .center-component {
  overflow-x: auto;
  margin: 0;
}
.about .header__navigation {
  margin: 0;
}
.about__container, .about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about__container {
  gap: 0 70px;
}
.about__content {
  gap: 0 50px;
  width: 100%;
  max-width: calc(100% - 624px);
}
.about__header {
  width: 100%;
  max-width: 554px;
}
.about__title {
  font-family: "Pretendard", sans-serif;
  font-size: 46px;
  font-weight: 700;
  line-height: 1.25;
}
.about__description {
  margin-top: 30px;
  font-family: "Pretendard", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.7;
  color: #555555;
}
.about__highlight {
  color: #000;
  font-weight: 700;
}
.about__paragraph:last-child {
  margin-top: 30px;
}
.about__section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.about__section-title {
  margin-bottom: 10px;
  font-family: "Pretendard", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3;
}
.about__section-text {
  word-break: keep-all;
  font-family: "Pretendard", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.7;
  color: #555555;
}
.about__spotify-link {
  color: #2d5aa0;
  font-size: 18px;
  border-bottom: 2px solid #2d5aa0;
  display: inline-block;
}

.experience__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.experience__item-header {
  text-align: center;
  margin-bottom: 40px;
}
.experience__timeline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.experience__company, .experience__position {
  font-family: "Pretendard", sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.3;
}
.experience__period {
  font-family: "Pretendard", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.7;
  color: #555555;
}
.experience__duties {
  text-align: center;
}
.experience__duty {
  font-family: "Pretendard", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.7;
  color: #555555;
}

.portfolio__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 70px;
}
.portfolio__content {
  width: 100%;
  max-width: calc(100% - 117px);
}
.portfolio__nav-menu {
  width: 100%;
  max-width: 117px;
}
.portfolio__nav-category {
  margin-bottom: 30px;
}
.portfolio__nav-category:last-child {
  margin-bottom: 0;
}
.portfolio__nav-title {
  margin-bottom: 15px;
  font-family: "Pretendard", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
}
.portfolio__nav-item {
  margin-bottom: 15px;
}
.portfolio__nav-item:last-child {
  margin-bottom: 0;
}
.portfolio__nav-link {
  font-size: 16px;
  font-weight: 400;
  color: #777777;
}
.portfolio__nav-link--active {
  color: #000;
  font-weight: 500;
}
.portfolio .detail__header {
  margin-bottom: 50px;
}
.portfolio .detail__title {
  margin-bottom: 10px;
  font-family: "Pretendard", sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.3;
}
.portfolio .detail__link {
  border-bottom: 1px solid;
  font-family: "Pretendard", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3;
  color: #2d5aa0;
}
.portfolio .detail__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 70px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.portfolio .detail__image {
  border: 1px solid #dddddd;
  display: block;
  width: 100%;
  max-width: 725px;
}
.portfolio .detail__image-wrapper {
  margin-bottom: 30px;
}
.portfolio .detail__image-wrapper:last-child {
  margin-bottom: 0;
}
.portfolio .detail__section-title {
  margin-bottom: 6px;
  font-family: "Pretendard", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.7;
  color: #000;
}
.portfolio .detail__info {
  position: sticky;
  top: 20px;
}
.portfolio .detail__section {
  margin-bottom: 30px;
}
.portfolio .detail__section:last-child {
  margin-bottom: 0;
}
.portfolio .detail__section-list {
  font-family: "Pretendard", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
  color: #555555;
}
.portfolio .detail__section-label {
  margin-bottom: 10px;
  font-family: "Pretendard", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.7;
  color: #000;
}
.portfolio .detail__section-category {
  font-weight: 700;
  color: #000;
}
.portfolio .detail__section-value {
  font-family: "Pretendard", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
  color: #555555;
}
.portfolio .detail__section--tech-stack .detail__section-category, .portfolio .detail__section--tech-stack .detail__section-value {
  display: inline-block;
}
.portfolio .detail__section--tech-features .detail__section-category {
  color: #000;
  margin-bottom: 7px;
}
.portfolio .detail__section--tech-features .detail__description-item {
  margin-bottom: 30px;
}
.portfolio .detail__description-item {
  margin-bottom: 5px;
}
.portfolio .detail__description-item:last-child {
  margin-bottom: 0;
}