@use "../abstracts/functions" as fn;

.component-layout {
  min-height: 100vh;
  padding: 70px 50px;
  @include fn.flex-column($justify: space-between);
}

.basic-inner {
  width: 100%;
  max-width: 1800px;
  padding: 0 40px;
  margin: 0 auto;

  &.center-component {
    padding: 130px 40px;
  }
}
